NODE_ENV=development
API_PORT=4000
API_PREFIX=api/v1
DATABASE_URL="postgresql://hvacflow:hvacflow_dev_password@localhost:5432/hvacflow?schema=public"
JWT_ACCESS_SECRET=dev_access_secret_replace_with_64_char_random_string_in_production_now
JWT_REFRESH_SECRET=dev_refresh_secret_replace_with_64_char_random_string_in_production_now
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
